__pycache__
.*cache
.circleci
.coverage*
.DS_Store
.env*
.git
.mypy_cache
.picopt_timestamp
.pytest_cache
.ropeproject
.ruff_cache
.venv*
*.egg-info
*.py[co]
*~
*Dockerfile
docker-compose*
MANIFEST
monkeytype.sqlite3
NEWS
node_modules
test-results
TODO.md
version.sh
