**/*.egg-info
**/*.py[co]
**/*~
**/.*cache
**/.DS_Store
**/__pycache__
**/node_modules
**/test-results
*Dockerfile
.claude
.coverage*
.env*
.git
.picopt_timestamp
.ropeproject
.venv*
MANIFEST
NEWS
TODO.md
docker-compose*
monkeytype.sqlite3
version.sh
